{% extends "./base.njk" %}

{% block content %}
<main class="container mx-auto pt-36 pb-24">
    <section class="px-6">
        <h1 class="hidden">{{ title }}</h1>
        <div class="max-w-2xl text-base generated">
            {{ content | safe }}
        </div>
    </section>
</main>
{% endblock %}