{% extends "./base.njk" %}

{% block header %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
<main class="container mx-auto pt-36 pb-24" >
    <div class="px-6">
        {% image cover, 'Christina Dimitriadis' , 'xl' ,'w-full h-auto block' %}
    </div>
</main>
{% endblock %}