{% extends "./base.njk" %}

{% block header %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
<main class="container mx-auto pt-36 pb-24" >
    <div class="fixed top-0 left-0 z-0 w-full h-screen">
        {% image cover, 'Christina Dimitriadis' , 'xl' ,'w-full h-full object-cover object-center' %}
    </div>
</main>
{% endblock %}