{% extends "./base.njk" %}

{% block content %}
<main class="container mx-auto pt-36 pb-24" >
    <article>

        <header class="pb-6">
            <h1 class="text-black font-bold text-base sm:text-lg">{{ title }}</h1>
        </header>

        <div class="pb-24">
            <p class="mb-0">
                <span class="font-bold pr-1">Place, Date:</span>
                <span class="pr-1">{{ place }},</span>{{ year }}
            </p>
            <p class="mb-0">
                <span class="font-bold pr-1">Medium:</span>
                {{ medium }}
            </p>
            <p class="mb-0">
                <span class="font-bold pr-1">Size:</span>
                {{ size }}
            </p>
            {% if views %}
            <p class="mb-0 pt-4">
                <span class="font-bold pr-1">Installaton view:</span>
                {{ views }}
            </p>

            {% endif %}
        </div>

        <div class="sm:flex sm:flex-row sm:justify-center sm:flex-wrap gallery">

            {% for pic in gallery %}
                <a href="{pic.url}" data-caption="" class="block w-64 h-auto mx-auto mb-6 sm:w-auto sm:h-64 sm:mx-3 relative" id="images-frame-{{ loop.index }}">
                        
                    {% image './src/' + pic.url, pic.title, 'lg', 'block w-full sm:h-64 sm:w-auto max-w-none'  %}

                </a>
            {% endfor %}

            {% if installations and installations.length > 0 %}
                {% for pic in installations %}
                <a href="{pic.url}" data-caption="" class="block w-64 h-auto mx-auto mb-6 sm:w-auto sm:h-64 sm:mx-3 relative" id="images-frame-{{ loop.index }}">
                        
                    {% image './src/' + pic.url, pic.title, 'lg', 'block w-full sm:h-64 sm:w-auto max-w-none'  %}

                </a>
                {% endfor %}
            {% endif %}

        </div>

    </article>
</main>

{% endblock %}
