{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto pt-36 pb-24">
        <ul class="w-full sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-6 px-6">
            {% for item in collections.workSorted %}
                
                <li class="w-80 px-2 pb-6 mx-auto sm:w-full sm:px-0 sm:pb-0">
                    <article class="w-full">
                        <div class="w-full h-0 relative" style="padding-top:100%;">
                            <a class="block absolute inset-0 z-10 hover:shadow-lg opacity-100 hover:opacity-10" href="{{ item.url }}">
                                {% image item.data.cover, item.data.title , 'md', 'block w-full h-full object-cover '%}
                            </a>
                            <div class="absolute inset-0 z-0 flex flex-col items-center justify-center text-center p-6">
                                <h1 class="text-base mb-1">
                                    <a href="{{ item.url }}" class="hover:text-gray-700">
                                        {{ item.data.title }}
                                    </a>
                                </h1>
                                {% if(item.data.year) %}
                                <div class="">
                                    {{item.data.year}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                        
                        
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}